*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #f5f3ff, #e9d5ff);
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: purple;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.btn {
    background: purple;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
}

.hero h1 span {
    color: purple;
}

.hero p {
    margin-top: 10px;
    color: gray;
}

.buttons {
    margin-top: 20px;
}

.primary {
    background: purple;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.secondary {
    background: transparent;
    border: 2px solid purple;
    color: purple;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}